/* Ajustes CSS */
body {
    margin-top: 100px;
}
.navbar {
    box-shadow:none;
    margin-bottom: 10px;
    background-color: rgba(250, 250, 250, 0.9);
}
.logo {
    padding-left: 36px;
    width: 182px;
}
.nav-item:hover {
    background-color: #ececec;
    /* transition: all 0.05s ease-in-out */
}
.container-banner {
    margin-right: 10px; 
    margin-left: 10px;   
}
.imageLogin {
    background-image: url('https://careers.endava.com/en/-/media/EndavaDigital/Careers/Images/MeetEndava/MeetEndava_1920x650_resized.ashx');
    width: 100%; 
    height: 100vh;
    margin-top: -110px;
    /* filter: grayscale(90%); */
}
.transparenciaCard {
    background-color: #ffffffcf;
}
.titleModule {
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
    margin-top:-20px;
    font-family: robotobold;
}
.btnModule {
    padding-bottom: 15px;
    margin-top:-25px;
}

  /* === FICHA EFECT IMG + TEXT === */
  /* ========================================= */
  .Card-Img {
    z-index: -2;
    min-height: 300px;
  }
  .container-IMG {
    position: relative;
    width: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
  }
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }
  .div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img .text {
    font-family: 'Open Sans';
    position: relative;
    z-index: -1;
    display: block;
    bottom: 72px;
    width: 100%;
    text-align: center;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img {
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
  }
 

