/* Ajustes CSS */
body {
    margin-top: 100px;
    font-family: robotoregular,Arial,sans-serif;
}
.container-banner {
    margin-right: 10px; 
    margin-left: 10px;   
}

 /* LOGIN  */
 /* ============================ */
.imageLogin {
  background-image: url('/assets/img/PeopleSocializing_min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%; 
    height: 100vh;
    margin-top: -110px;
    /* filter: grayscale(90%); */
}

.grey-text{
  padding: 0 30px; 
}
table.table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.md-form .prefix {
  top: 0.75rem;
  font-size: 1.75rem;
}

/* FONTS */
/* ======================================= */
.upperCaseFonts {
  text-transform: uppercase;
}
.fontLigth {
  font-family: robotolight,Arial,sans-serif;
  color: #000;
}
.blue {
  background-color: #285078 !important
}
.textAlert {
  font-size: 13px;
}
/* GENERAL  */
/* ========================================== */

.pending {
  background-color: #9BB4BE !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.1rem 0.54rem;
    font-size: 0.81rem;
    border: solid 1px #9BB4BE !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnAllowance {
  margin-top: -50px;
}
.btnEv-red {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border:solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnEv-red:hover{
  background-color: #c73a1d !important;
}
.btnEv-red-md:hover{
  background-color: #c73a1d !important;
}
.btnEv-red-md {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.94rem 0.5rem;
    font-size: 0.81rem;
    border: solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.transparenciaCard {
    background-color: #ffffffcf;
}
.titleModule {
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
    margin-top:-40px;
    font-family: robotobold;  
}
.bannerAllowance{
  margin-top: -20px;
  margin-bottom: 10px;
}
.btnModule {
    padding-bottom: 15px;
    width: 80px;
    border-radius: 10em;
}

.marginDemo {
    margin-top:10px;
}
.TextParrafo {
    text-align: center;
    font-family: robotolight,Arial,sans-serif;
}
 
/* === MENU  === */
  /* ========================================= */
 
.navbar {
    box-shadow:none;
    margin-bottom: 10px;
    background-color: rgba(250, 250, 250, 0.9);
}
.logo {
    padding-left: 36px;
    width: 182px;
}
.logoLogin{
  width: 182px;
}
.nav-item:hover {
    background-color: #ececec;
    /* transition: all 0.05s ease-in-out */
}

.transparentMenu {
  height: 1000px;
  max-height: 100%;
  background-color: #9e9e9e0a;
}
  /* === FICHA EFECT IMG + TEXT === */
  /* ========================================= */
  .Card-Img {
    z-index: -2;
    min-height: 300px;
  }
  .container-IMG {
    position: relative;
    width: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
  }
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }
  .div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: contain;
    max-height: 284px;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img .text {
    /* font-family: 'Open Sans'; */
    position: relative;
    z-index: -1;
    bottom: 72px;
    width: 45%;
    font-size: 1vw;
    display: block;
    text-align: center;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img {
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
    
  }
 