/* Ajustes CSS */
body {
    margin-top: 100px;
    font-family: robotoregular,Arial,sans-serif;
}
.container-banner {
    margin-right: 10px; 
    margin-left: 10px;   
}

 /* LOGIN  */
 /* ============================ */
.imageLogin {
  background-image: url('/assets/img/PeopleSocializing_min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%; 
    height: 100vh;
    margin-top: -110px;
    /* filter: grayscale(90%); */
}

.grey-text{
  padding: 0 30px; 
}

table.table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.md-form .prefix {
  top: 0.75rem;
  font-size: 1.75rem;
}

/* FONTS */
/* ======================================= */
.eventFont{
  font-family: robotolight,Arial,sans-serif;
  font-size: 10px;

}
.tittleModalUser{
  font-family: roboto_condensedbold,Arial,sans-serif;
  font-size: 26px;
  display: block
}
.emailModalUser{
  font-family: robotolight,Arial,sans-serif;
  font-size: 16px;
  color:#233237;
  position: relative;
  top: -5px;
  margin-left: 21 px
}
.upperCaseFonts {
  text-transform: uppercase;
}
.fontLigth {
  font-family: robotolight,Arial,sans-serif;
  color: #000;
  margin-top: 10px;
}
.marginTextLeft  {
  margin-left: 50px;
}
.blue {
  background-color: #285078 !important
}
.iconAllowance {
  font-size: 20px;
}
.iconAllowance:hover {
  cursor:pointer;
}
.textBold {
  font-weight: 900;
  font-size: 16px;
}
.textForm {
  font-size: 15px;
  color: #48545B
}
.textAlert {
  font-size: 13px;
}
.fontEmphasis {
  font-size: 26px;
  color: #de411b;
}
.capitalizeName{
  text-transform: capitalize;
}
.strongEmphasis {
  font-size: 20px;
  font-weight: 900;
}
.maxAmount {
  font-size: 14px;
  color: #48545B;
  text-align: center;
  margin-top: 5px;
  display: block;
}
.greyColor {
  color: #233237
}
.greyColor:hover {  
  color: #48545B
}

.redColor {
  color: #c31900
}
.redColor:hover {
  color: #ec6861
}

.greenColor {
  color: #28a745
}
.greenColor:hover {
  color: #16cc40
}
/* TABLA  */
/* ========================================== */
table.table th {
  width: 108px;
  text-align: center;
  font-weight: bold;
  font-family: roboto_condensedbold,Arial,sans-serif;
}
table.table td {
  padding: 0px !important;
  text-align: center;
}
.widthTable {
  width: 95%
}
/* GENERAL  */
/* ========================================== */
.imgProfile {
  position: absolute;
}
.iconEditImg{
  position: absolute; 
  /* con position absolute defino la posicion, en relacion al padre */
  bottom: 0;
  right: 0;
  background-color: red;
  padding: 10px
}
.parrafoModal {
  margin-top:-10px;
}
.btnModalB {
  padding: 12px 29px;
  cursor:pointer;
}
.minHeight {
  min-height: 240px;
}
.custom-select, .cursorPointer {
  cursor:pointer;
}
.pending {
  background-color: #9BB4BE !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.3rem 0.54rem;
    font-size: 0.81rem;
    min-width: 100px;
    border: solid 1px #9BB4BE !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.aproved {
  background-color: #0AC3E6 !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.3rem 0.54rem;
    font-size: 0.81rem;
    border: solid 1px #0AC3E6 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.rejected {
  background-color: #c31900 !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.3rem 0.54rem;
    font-size: 0.81rem;
    border: solid 1px #c31900 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.btnAllowance {
  margin-top: -50px;
}
.btnEv-red {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border:solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnEv-red:hover{
  background-color: #c73a1d !important;
}
.btnEv-red-md:hover{
  background-color: #c73a1d !important;
}
.btnEv-red-md {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.94rem 0.5rem;
    font-size: 0.81rem;
    border: solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.btnEv-blue {
  background-color: #379BD7!important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border:solid 1px #379BD7 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnEv-blue:hover{
  background-color: #285078 !important;
}

.btnEv-Transparent {
  background-color: transparent!important;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: none;
    padding: 0.1px 2.14rem;
    font-size: 0.81rem;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
    border-bottom: 1px solid #ced4da;
}
.btnEv-Transparent:hover{
  border-bottom: 1px solid #379BD7;
}
.transparenciaCard {
    background-color: #ffffffcf;
}
.titleModule {
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
    margin-top:-40px;
    font-family: robotobold;  
}

.card:hover{
  color:#48584B;
  box-shadow: 0 2px 5px 0 rgba(37, 16, 16, 0.568), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.bannerAllowance{
  margin-top: -70px;
  margin-bottom: 10px;
}
.btnModule {
    padding-bottom: 15px;
    width: 80px;
    border-radius: 10em;
}

.marginDemo {
    margin-top:10px;
}
.TextParrafo {
    text-align: left;
    font-family: robotolight,Arial,sans-serif;
}
 
/* === MENU  === */
  /* ========================================= */
 
.navbar {
    box-shadow:none;
    margin-bottom: 10px;
    background-color: rgba(250, 250, 250, 0.9);
}
.logo {
    padding-left: 36px;
    width: 182px;
}
.logoLogin{
  width: 182px;
}
.nav-item:hover {
    background-color: #ececec;
    /* transition: all 0.05s ease-in-out */
}

.transparentMenu {
  height: 1000px;
  max-height: 100%;
  background-color: #9e9e9e0a;
}


  /* === FICHA EFECT IMG + TEXT === */
  /* ========================================= */
  .Card-Img {
    z-index: -2;
    min-height: 300px;
  }
  .ajustImg {
    min-height: 188px;
  }
  .container-IMG {
    position: relative;
    width: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
  }
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }
  .div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    min-height: 264px;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img .text {
    /* font-family: 'Open Sans'; */
    position: relative;
    z-index: -1;
    bottom: 72px;
    width: 45%;
    font-size: 1vw;
    display: block;
    text-align: center;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img {
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
  }

  /* RADIO BUTTONS */

.modalForm h2 {
    font-size: 16px;
    color: #c31900;
    margin-bottom: 20px;
    margin-left: 20px;
}

.modalForm > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.modalForm label {
    display: inline-block;
    cursor: pointer;
    color: #c31900;
    position: relative;
    padding: 5px 15px 5px 37px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.modalForm label:hover {
    background: rgba(0, 116, 217, 0.1);
}

.modalForm label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #c31903;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;

}

.modalForm input[type="radio"] {
    display: none;
}

.modalForm input[type="radio"]:checked + label:before {
    display: none;
}

.modalForm input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #c31900;
    border-radius: 5px;
    color: #fff;
}
 