/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #de411b;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
 
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f3d3d3;
    display: block;
    transition: 0.3s
}
.sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f3d3d3;
    display: block;
    transition: 0.3s;
    cursor:pointer;
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor:pointer;
}
.nameFontSidebar {
    font-size: 16px !important;
    top: 9px;
    left: -16px;
    position: absolute;
    color: #f3d3d39c !important
}

body {
  overflow-x: hidden;
}
 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #DE411B;
    overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor:pointer;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav span:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


#sideNavigation {
  padding-bottom: 25px;
  font-family: robotobold,Arial,sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}
.item {
    color:white
  }

.item:hover, .itemActive {
  text-decoration: underline white;
  opacity: .45; 
  transition: opacity .3s ease-out; 
}
.imgProfileNav {
    border-radius: 50%;
    width: 40px;
    margin-right: 12px;
    z-index: 100001;
    position: relative;
}
