@media screen and (max-device-width : 480px) {
    .logo {
        padding-left: 2px;
        width: 122px;
    }
    .container-banner {
        margin-right: 5px; 
        margin-left: 5px;   
    }
    .margenBottomMobile {
        margin-bottom: 15px;
    }
    .marginDemo {
        margin-top:4px;
    }
    .btnModule {
        margin-top:-35px;
    }
    .titleModule {
        padding-bottom: 15px;
        margin-top:-30px;
    }
    .imageLogin {
        background-image: url('/assets/img/PeopleSocializing_min.jpg');
    }
    .div-img .text {
        font-size: 2.6vw;
      }

    .grey-text{
        padding: 0 10px; 
    }
      .maxHeigthNav{
        max-height: none;
    }
    .widthTable {
        width: 100%
    }
    .bannerAllowance{
        margin-top: -30px;        
    }
    .HideMobile {
        display: none;
    }
    .timeline__year{
        margin-bottom: 50px
    
      }
}