@media screen and (max-device-width : 480px) {
    .logo {
        padding-left: 2px;
        width: 122px;
    }
    .container-banner {
        margin-right: 5px; 
        margin-left: 5px;   
    }
    .margenBottomMobile {
        margin-bottom: 15px;
    }
    .marginDemo {
        margin-top:4px;
    }
    .btnModule {
        margin-top:-35px;
    }
    .titleModule {
        padding-bottom: 15px;
        margin-top:-30px;
    }
    .imageLogin {
        background-image: url('https://careers.endava.com/en/-/media/EndavaDigital/Careers/Images/MeetEndava/MeetEndava_480x500_resized.ashx');
    }
    .div-img .text {
        font-size: 2.6vw;
      }
}